/* reset */
* {
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Colors */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* Typography */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--slate);
}

h1 {
  text-align: center;
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.top-line {
  padding: 24px 0;
  border-bottom: 1px solid var(--cornflower);
}

.top-line-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--iris);
}
.logo-studio {
  color: var(--navy-blue);
}
.logo-studio-footer {
  color: var(--cloud);
}
/* Nav */
.nav {
  display: flex;
  gap: 40px;
}
.nav-link {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms ease-in-out; /* Soft transition */
}

.nav-link:hover,
.nav-link:focus-visible {
  color: var(--ocean);
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 0%;
  height: 2px;
  background-color: var(--ocean);
  border-radius: 2px;
  transition: width 250ms ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Address */
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  display: inline-block;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms ease-in-out;
}
.address-link:hover,
.address-link:focus-visible {
  color: var(--ocean);
}

/* Main */
.break {
  display: block;
}

.main {
  color: var(--white);
  padding: 188px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office\ 1.jpg");
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
}

/* button */
.main-button {
  cursor: pointer;
  border: none;
  margin-top: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms ease-in-out;
}

.main-button:hover,
.main-button:focus-visible {
  background-color: var(--ocean);
}

/* Feature */

.adv-icons {
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.adv-icon {
  stroke: var(--navy-blue);
  fill: transparent;
}

.feature-item {
  width: 264px;
}

.feature-list {
  display: flex;
  gap: 24px;
  padding: 120px 0;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0 0 8px 0;
}

/* Team */
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin: 0 0 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: white;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  overflow: hidden;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.team-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0 0 8px;
}

.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

/* Our Portfolio */

.portfolio {
  background-color: var(--white);
  padding: 120px 0;
}

.port-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin: 0 0 72px;
}
.port-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.port-item {
  background-color: var(--white);
  transition: box-shadow 250ms ease-in-out;
  margin-bottom: 24px;
}

.port-item:hover,
.port-item:focus-within {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.port-item img {
  display: block;
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.port-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-top: none;
  width: 360px;
  height: 120px;
  background-color: var(--cloud);
  position: relative;
  z-index: 0;
}

.port-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin: 0 0 8px;
}

.port-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin: 0;
}

/* Transition card */
.card {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud);
  padding: 40px;
  transform: translateY(100%);
  transition: transform 500ms ease-in-out;
}

.card:hover .card-overlay {
  transform: translateY(0);
}

.port-list .port-item {
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 120px;
}

.container-footer {
  max-width: 264px;
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  margin-top: 16px;
}

.icons {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
#icon {
  gap: 16px;
}
.social-icon > p {
  color: var(--white);
}

.social-icon p {
  margin: 0;
}

.social-icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.icon {
  fill: var(--cloud);
}

.icons li {
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  margin: 16px 0;
  padding: 8px 8px;
  border-radius: 50%;
}

.icons li:hover {
  background-color: var(--green);
  cursor: pointer;
}
